---
import { Icon } from 'astro-icon';

const items = [
	{
		title: 'Smart Contract Audit',
		description:
			'Mitigate weaknesses in your smart contract and improve its functionality with a double line-to-line code analysis and a separate review by a lead auditor',
		icon: 'la:search',
	},
	{
		title: 'Blockchain Protocol Audit',
		description:
			'Secure the entire architecture and implementation layers of your blockchain protocol with professional security audit and testing',
		icon: 'la:boxes',
	},
	{
		title: 'dApp Security Audit',
		description:
			'Eliminate risks of hacks, exploits and front-running attacks from your decentralized apps with a top-tier audit methodology',
		icon: 'la:dropbox',
	},
	{
		title: 'Penetration Testingn',
		description:
			'Proactively identify weak spots in your software by putting your systems against a simulated cyberattack in a safe and controlled environment',
		icon: 'la:clipboard-check',
	},
	{
		title: 'CalEye',
		description:
			'Powering on-chain security monitoring and data insights for smart contracts.',
		icon: 'la:eye',
	},
	{
		title: 'KYC Verification',
		description:
			'Caligo KYC is the leading identity verification and due diligence service in Web3, giving you the credibility you need to be trusted by your community.',
		icon: 'la:check',
	},
];
---

<section class="relative">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Explore our services
				</h2>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
				{
					items.map(({ title, description, icon }) => (
						<div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
							<div class="flex items-center mb-4">
								<Icon name={icon} class="w-12 h-12" />

								<div class="ml-4 text-xl font-bold">{title}</div>
							</div>
							<p class="text-gray-500 dark:text-gray-400 text-md">{description}</p>
						</div>
					))
				}
			</div>
		</div>
	</div>
</section>
