---
const items = [
	[
		{
			title: 'Time-Efficient Process',
			description:
				'Audit duration is agreed upon with the customer during the negotiation phase. We start the audit immediately after a client provides us with all required documentation.',
		},
		{
			title: 'Transparent Pricing',
			description:
				'The price of the audit is determined at the stage of negotiations. It is based only on the audit complexity and scope. There are no hidden fees and penalties.',
		},
		{
			title: 'Expertise',
			description:
				'Caligo is the European vendor that started auditing projects in 2021 and since then we have developed our own audit quality standards and methodology.',
		},
	],
	[
		{
			title: 'Community trust',
			description:
				'Caligo audits will integrate into CoinGecko, CoinMarketCap, and CER.live. Thus, it serves as an indicator of your reliability for users.',
		},
		{
			title: 'Human face',
			description:
				'We are real individuals. You can find our team members on LinkedIn/Twitter as well as meet us during industry events.',
		},
		{
			title: 'Quality',
			description:
				'Caligo has a <1% incident rate among the audited projects and 0% of scam ventures.',
		},
	],
];
---

<section class="scroll-mt-16" id="features">
	<div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20 bg-primary-50 dark:bg-slate-800">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
				Benefits of 
				<span
					class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 whitespace-nowrap"
					>Caligo
				</span>
				 Smart Contract Audit
			</h2>
		</div>
		<div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description }) => (
							<div class="flex flex-row max-w-md">
								<div class="mb-4 mr-4">
									<div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-500">
										<svg class="w-12 h-12 p-0.5" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
											<g fill="none" fill-rule="evenodd">
												<rect class="fill-current text-primary-600" width="64" height="64" rx="32" />
												<g stroke-linecap="square" stroke-width="2">
													<path class="stroke-current text-white" d="M20.571 20.571h13.714v17.143H20.571z" />
													<path
														class="stroke-current text-primary-300"
														d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
													/>
												</g>
											</g>
										</svg>
									</div>
								</div>
								<div>
									<h3 class="mb-3 text-xl font-bold">{title}</h3>
									<p>{description}</p>
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
