---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Gitlab Security
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
						Caligo is a cloud-based Smart-contract vulnerability scanner built to discover vulnerabilities and help publish audit reports after the vulnerability mitigations.
								<span class="inline sm:hidden">...</span><span
							class="hidden sm:inline"
							>Smart Contract Audit, KYC Verification, Penetration Testing and more.</span
						>
					</p>
					<div class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white border border-gray-900 bg-gray-900 dark:bg-[#FB3E00] dark:hover:bg-gray-800 hover:bg-gray-800 hover:border-gray-900 sm:mb-0 w-full"
								href=""
								target="_blank"
								rel="noopener"
							>
								<Icon name="la:arrow-right" class="w-5 h-5 mr-1 -ml-1.5" /> Request a quote
							</a>
						</div>
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white bg-gray-900 hover:bg-gray-700 dark:bg-[#FB3E00] dark:hover:bg-gray-800 w-full"
								href="#features">Learn more</a
							>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="relative mb-8 m-auto max-w-3xl">
					<Picture
						src={import('~/assets/images/hero.jpg')}
						class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 w-full"
						widths={[400, 768]}
						sizes=" (max-width: 767px) 400px, 768px"
						alt="Hero Image"
						aspectRatio="16:9"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
